@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
   overflow: hidden;
}
.container{
    display: flex;
    width: 140%;
    position: absolute;
}
.col{
    height: 100vh;
}
.sm-col{
    width: 40%;
}
.lg-col{
    width: 60%;
    
}
.inner .lg-col{
    background-image: linear-gradient(to right,rgb(145, 8, 8),rgb(2, 0, 0));
}
.form,a.btn{
    z-index: 1000;
}
.inner .sm-col{
    background-image: linear-gradient(to right,rgb(145, 8, 8),rgb(2, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.inner .sm-col h1{
    color: #aaa;
    font-size: 30px;
    padding-bottom: 30px;
}
.form{
    width: 60%;
}
.input-box{
    width: 100%;
    display: flex;
    border: 1px solid #555;
    margin-bottom: 20px;
}
.icon{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    border-right: 1px solid #555;
}
.input{
    width: 90%;
    display: flex;
    flex-direction: column;
   
}
.input h2{
    height: 50%;
    color: #010405;
    font-size: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #555;
    padding-left: 15px;
}
.input input{
    height: 50%;
    background: transparent;
    border: 0;
    outline: none;
    padding-left: 15px;
     color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}
input.btn{
    width: 100%;
    border: 0;
    outline: none;
    background: #040c0d;
    height: 40px;
    color: #fff;
    font-size: 20px;
}
a{
    width: 60%;
    height: 40px;
    background: #010303;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    z-index: 1000;
}
.upper .lg-col{
    display: flex;
    flex-direction: column;
}
.top{
    
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bottom{
    height: 50%;
    z-index: 500;
}
.bg-logo{
    width: 100px;
}
img{
    width: 100%
}
.top h1{
    text-align: center;
    color: #fff;
}
.top p{
    font-weight: 700;
    color: #fff;
    margin: 20px 0;
}
.bottom{
    background: url(./images/img.png) no-repeat center/100%;
}
.upper{
    transform: translateX(-35%);
    height: 10vh;
    
}
.sm-logo{
    width: 60px;
    transform: translateY(20px);
}
.upper .sm-col h1{
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    margin-left: -30px;
}
.upper .sm-col{
    height: 10vh;
   
}